<apex:page controller="InterviewPageCtrl">
	<apex:form>
		<apex:pageBlock title="Interview Page">
			<apex:pageBlockTable title="Account List" value="{!acctList}" var="acct">
				<apex:column headerValue="Name">
					<apex:commandLink action="{!queryContacts}" value="{!acct.Name}">
						<apex:param name="acctId" value="{!acct.Id}" assignTo="{!acctId}"/>
					</apex:commandLink>
				</apex:column>
				<apex:column headerValue="Id" value="{!acct.Id}"/>
			</apex:pageBlockTable>
			<apex:pageBlockTable value="{!conList}" var="con">
				<!-- Build Contact Table here -->
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form>
</apex:page>
